html, body, #root, .main {
  display: flex;
  flex-direction: column;
  background: #042943;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 500px;
  font-size: 18px;
  font-family: 'Source Sans Pro',Helvetica,Segoe,Arial,sans-serif;
  color: rgba(255,255,255,1);
}

header {
  min-height: 63px;
  height: 10%;
  width: 100%;
  display: inherit;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

header>div{
  position: absolute;
  left: 150px;
  color: rgba(255,255,255,1);
  font-size: 26px;
  padding-bottom: 5px;
}

#add-info{
  margin-bottom: 15px;
}

#top-logo{
  margin-left: 20px;
  cursor: pointer;
}

#nav-dropdown{
  display: none;
}


.add-button {
  margin-top: 41px;
  margin-left: 41px;
  cursor: pointer;
  width: 47px;
  height: 47px;
  background: #fff;
  color: #555;
  border: 2px solid #555;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.list-group-item {
  background: rgba(255,255,255,.1) !important;
  color: #fff !important;
}

.inner-panel {
  margin-top: 20px;
  margin-left: 30px;
  width: auto !important;
}

.inner-panel .list-group-item{
  background: rgba(255,255,255,0.03) !important;
}

.modal-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.modal-container .modal, .modal-container .modal-backdrop {
  color: black;
}

.modal-backdrop {
  background: transparent;
}

.nav-tabs {
  font-size: 18px;
  margin-right: 20px;
  border-bottom: none;
}
.nav-tabs a {
  text-decoration: none;
  color: inherit;
}
.nav-tabs>li>a {
  color: rgba(255,255,255,.8);
  border: none;
}

.nav-tabs>li>a:hover {
  color: rgba(255,255,255,1);
  background-color: transparent;
  border-radius: 4px;
  border-color: #042943;
}

.nav-tabs>li.active>a {
  border-radius: 4px;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel {
  z-index: 15;
  width: 50%;
  background: transparent;
}

.panel-heading{
  cursor: pointer;
  background-color: rgba(255,255,255,.4) !important;
  color: #fff !important;
  text-transform: capitalize;
}

.text-line {
  margin: 10px;
}

@media only screen and (max-width:900px){
  #nav-dropdown{
    display: block;
  }

  .nav-item{
    display: none !important;
  }
}

@media only screen and (max-width:600px){
  header>div{
    position: static;
    color: rgba(255,255,255,1);
    font-size: 22px;
    padding-bottom: 0px;
  }
}
